# Ignore everything
*

# But not these files...
!/.gitignore
!/.npmignore
!/.npmrc
!package.json
!pnpm-workspace.yaml
!tsconfig.json
!.changeset/
!.changeset/**/*
!README.md

# And these directories...
!src/
!src/**/*
!.github/
!.github/**/*